/* General */

body,
html {
  overflow-x: hidden;
}

.bianco {
  color: white;
}

.testo-centrato {
  text-align: center;
}

.blu-scuro {
  color: #253a64;
}

.blu-chiaro {
  color: #006aff;
}

.grigio {
  color: #737f9a;
}

.pt50 {
  padding-top: 50px;
}

/* Mobile first */

.hidden {
  visibility: hidden;
}

.collapse {
  visibility: collapse;
}

.ml40 {
  margin-left: 40%;
}

/*  Navbar */

nav {
  height: 60px;
  background-color: #fff;
}

nav img {
  width: 55%;
  padding-right: 40px;
  margin-top: 13px;
  float: left;
}

.menu {
  float: right;

  font-size: 23px;
  margin-top: 15px;
  margin-right: 9px;
}

nav ul li:first-child {
  margin-left: 80px;
}

nav ul li {
  display: inline-block;
  padding-left: 20px;
  list-style: none;
  position: relative;
  top: 16px;
}

nav ul li a {
  text-decoration: none;
  color: #253a64;
  font-weight: 600;
}

.nav-destra {
  float: right;
  position: relative;
  bottom: 44px;
}

/* First-section */

.first-section {
  height: 720px;
  background-image: url("../img/bg-banner-home.jpg");
}

.box {
  height: 250px;
  width: 100%;
  display: inline-block;
  position: relative;
  bottom: 75px;
}

.box2 {
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  position: relative;
  bottom: 75px;
}

.box2 h4 {
  font-size: 20px;
  font-weight: 700;
}

.box2 .btn {
  font-size: 13px;
  margin-top: 20px;
}

.btn-block {
  height: 1px;
  padding-bottom: 30px;
}

.btn-primary {
  background: #579aff;
}

.btn-secondary {
  background-color: white;
  color: black;
  text-align: center;
  padding-right: 43px;
}

.google {
  width: 8%;
  position: relative;
  top: 2px;
  float: left;
}

.form-group {
  margin-bottom: -10px;
}

.form-group:first-child {
  margin-top: -20px;
}

.tos {
  height: 20px;
  font-size: 12px;
  margin-top: 15px;
}

.tos a {
  text-decoration: underline;
}

/* Sezione icone */

.icone {
  height: 400px;
  background-color: #f3f5f9;
  margin-top: -20px;
}

.icone p {
  font-size: 13px;
  padding-top: 20px;
}

.icone img {
  margin-left: 25px;
  width: 40%;
}

/* Sezione deploy */

.deploy {
  height: 630px;
}

.titolo {
  margin-top: 45px;
}

.sottotitolo {
  font-size: 24px;
  font-weight: 250;
  margin-top: 45px;
}

.box-list {
  border-left: 2px solid #7a849e;
  margin-bottom: 25px;
}

.box-list ul {
  list-style: none;
  color: #7a849e;
  position: relative;
  right: 28px;
}

.box-list ul li {
  font-size: 16px;
  line-height: 33px;
}

.box-info {
  height: 170px;
}

.box-info h4 {
  margin-top: 10px;
}

/* Sezione Designed */

.designed {
  height: 900px;
  background-color: #f3f5f9;
  margin-top: 570px;
  padding-top: 45px;
}

.designed img {
  width: 100%;

  margin-top: 70px;
}

.designed h5 {
  margin-top: 30px;
}

.pallino {
  height: 14px;
  width: 14px;
  border: 1px solid #006aff;
  border-radius: 50%;
  display: inline-block;
  margin-top: 50px;
}

.pallino-blu {
  background-color: #006aff;
}

/* Sezione Features */

.features {
  height: auto;
}

.features .box-info {
  margin-top: 10%;
  height: auto;
}

/* Sezione Tabella */

.tabella {
  height: auto;
  background-image: linear-gradient(#0047c5, #00219c);
  margin-top: 130px;
}

.table {
  margin-top: 25px;
}

.table a {
  color: #00aaca;
  font-size: 14px;
}
